@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@500;700&display=swap");

.App {
  max-width: 800px;
  margin: 30px auto;
}
.App footer {
  font-size: 20px;
  margin: 10px 0;
  font-family: "Playfair Display", serif;
}
